.intrinsic-box a-scene {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
  }
.boton{
    position: fixed;
    z-index: 99999;
    top: 87%;
    right:6.4%;
    width:8%;
    height:11%;
}
.boton1{
    position: fixed;
    z-index: 99999;
    top: 89.5%;
    right:15.2%;
    width:4%;
    height:8%;
}
.boton2{
    position: fixed;
    z-index: 99999;
    top: 90.2%;
    right:20%;
    width:3%;
    height:7%;
}